@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


@keyframes ani-background_animation {
    0% {
        --c-0: hsla(232, 0%, 0%, 1);
        --x-0: 91%;
        --s-start-0: 1%;
        --s-end-0: 61%;
        --y-0: 90%;
        --y-1: 24%;
        --x-1: 17%;
        --s-start-1: 0%;
        --s-end-1: 55%;
        --c-1: hsla(75, 0%, 0%, 1);
        --y-2: 32%;
        --c-2: hsla(232, 25%, 12%, 1);
        --x-2: 11%;
        --s-start-2: 19%;
        --s-end-2: 54%;
        --s-start-3: 0%;
        --s-end-3: 67%;
        --y-3: 31%;
        --c-3: hsla(254, 4%, 40%, 1);
        --x-3: 2%;
        --x-4: 74%;
        --s-start-4: 12%;
        --s-end-4: 82%;
        --c-4: hsla(349, 0%, 0%, 1);
        --y-4: 93%;
    }

    100% {
        --c-0: hsla(232, 9%, 28%, 1);
        --x-0: 49%;
        --s-start-0: 19%;
        --s-end-0: 69%;
        --y-0: 25%;
        --y-1: 41%;
        --x-1: 1%;
        --s-start-1: 3%;
        --s-end-1: 77%;
        --c-1: hsla(241, 10%, 23%, 1);
        --y-2: 93%;
        --c-2: hsla(321, 0%, 0%, 1);
        --x-2: 44%;
        --s-start-2: 6%;
        --s-end-2: 73%;
        --s-start-3: 8%;
        --s-end-3: 86%;
        --y-3: 51%;
        --c-3: hsla(246, 10%, 23%, 1);
        --x-3: 97%;
        --x-4: 10%;
        --s-start-4: 20%;
        --s-end-4: 75%;
        --c-4: hsla(232, 19%, 16%, 1);
        --y-4: 69%;
    }
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(232, 0%, 0%, 1)
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 91%
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 1%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 61%
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 90%
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 24%
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 17%
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 55%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(75, 0%, 0%, 1)
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 32%
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(232, 25%, 12%, 1)
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 11%
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 19%
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 54%
}

@property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%
}

@property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 67%
}

@property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 31%
}

@property --c-3 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(254, 4%, 40%, 1)
}

@property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 2%
}

@property --x-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 74%
}

@property --s-start-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 12%
}

@property --s-end-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 82%
}

@property --c-4 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(349, 0%, 0%, 1)
}

@property --y-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 93%
}

#background_animation {
    --c-0: hsla(232, 0%, 0%, 1);
    --x-0: 91%;
    --y-0: 90%;
    --y-1: 24%;
    --x-1: 17%;
    --c-1: hsla(75, 0%, 0%, 1);
    --y-2: 32%;
    --c-2: hsla(232, 25%, 12%, 1);
    --x-2: 11%;
    --y-3: 31%;
    --c-3: hsla(254, 4%, 40%, 1);
    --x-3: 2%;
    --x-4: 74%;
    --c-4: hsla(349, 0%, 0%, 1);
    --y-4: 93%;
    ;
    background-color: hsla(232, 0%, 0%, 1);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
    animation: ani-background_animation 10s linear infinite alternate;
    background-blend-mode: normal, normal, normal, normal, normal;
    will-change: transform, opacity;
    contain: paint
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', Arial, sans-serif;
    color: #ffffff;

}

h1{
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 700;
    font-size:54px 
}
.login-navbar, .search-navbar{
    background-color: #00000000;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 0 10px #ffffff71;
}

.login-navbar:focus, .search-navbar:focus {
    color: white;
    background: #00000000;
    border: 2px solid white;
        box-shadow: 0 0 15px #ffffff71;
}

.login-navbar::placeholder, .search-navbar::placeholder {
    color: white;
}



.btn-main{
    background-color: none;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 0 10px #ffffff71;
}


.btn-main:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
}

.layout {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding: 10px;
}


.result h2{
    font-size: 100px;
    font-weight: 700;
}

.result h3{
    font-size: 100px;
    font-weight: 500;
}

.result span{
    font-size: 50px;
    font-weight: 300;
}

.result h4{
    font-size: 60px;
    font-weight: 400;
}


.result p{
    font-size: 20px;
    font-weight: 300;
}

@keyframes flotar {
    0% {
        transform: translateY(-20px);
        /* Posición inicial */
    }

    50% {
        transform: translateY(20px);
        /* Se mueve hacia arriba */
    }

    100% {
        transform: translateY(-20px);
        /* Vuelve a la posición inicial */
    }
}


.img-main {
    width: 100%;
    max-width: 500px;
    display: block;
    animation: flotar 5s ease-in-out infinite;
}

.historial-card {
    background: radial-gradient(178.94% 106.41% at 26.42% 106.41%,
            #ffffff21 0%,
            rgba(255, 255, 255, 0.048) 71.88%),
        #ffffff0a;

    border-radius: 18px;
    padding: 8px;
    color: white;
    position: relative;
    height: 92px;
    cursor: pointer;
    transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.historial-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #ffffff71;
    transition: 0.3s;
}

.historial-card img {
    width: 80px;
    position: absolute;
    right: 30px;
    bottom: 7px;
}

.historial-card .ciudad {
    padding: 0 20px;
    font-weight: 700;
    font-size: 22px;
}


.historial-card .temp {
    font-size: 35px;
    font-weight: 700;
}

.slider {
    width: 100%;
    height: 220px;
    overflow: hidden;
    mask-image: linear-gradient(to right,
            transparent,
            #000 10% 90%,
            transparent);

}

.slider .list {
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}

.slider .list .item {
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    animation-delay: calc((30s / var(--quantity)) * (var(--position) - 100)) !important;
}

.slider .list .item p {
    font-size: 20px;
    text-align: center;

}

@keyframes autoRun {
    from {
        left: 100%;
    }

    to {
        left: calc(var(--width) * -1);
    }
}

.slider .list .item .card {
    width: var(--width);
    height: var(--height);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.slider:hover .item {
    animation-play-state: paused !important;
}

.slider[reverse="true"] .item {
    animation: reversePlay 30s linear infinite;
}

@keyframes reversePlay {
    from {
        left: calc(var(--width) * -1);
    }

    to {
        left: 100%;
    }
}

/* From Uiverse.io by zanina-yassine */
.card {
    margin: 10px;
    padding: 20px;
    background: radial-gradient(178.94% 106.41% at 26.42% 106.41%, #ffffff2d 0%, rgba(255, 255, 255, 0.048) 71.88%), #ffffff0a;

    border-radius: 23px;
    transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.containerslider {
    width: 250px;
    height: 250px;
    position: absolute;
    right: -35px;
    top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.7);
}

.containerslider .weather-img {
    position: absolute;
    right: 20px;
    top: 95px;
    width: 180px;

}

.card-header {
    display: flex;
    flex-direction: column;

}

.ciudad-slider {
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}

.clima-slider {
    color: #ffffff;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}

.card-header span {
    color: #ffffff;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}

.pais-slider {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-weight: 600;
}

.temp {
    position: absolute;
    left: 30px;
    bottom: 10px;
    font-weight: 700;
    font-size: 50px;
    color: #ffffff;
}